<h1>Pi Calculus Interpreter</h1>

<div style='clear:both'>
  <header>Input</header>
  <textarea id='code_input' rows="4" cols="50" placeholder="new(x).(x!z|x?y.y!x.x?y)|z?v.v!v"></textarea>
  <button type='button' onclick="run();">Run</button>
</div>
<div class='horizontal_div'>
  <button type='button' (click)="printer();">Printer</button>
</div>
<div class='horizontal_div'>
  <div>
    <header>Output</header>
    <textarea id='code_output' rows="10" cols="25"></textarea>
  </div>
  <div>
    <header>Debug</header>
    <textarea id='code_debug' rows="10" cols="25"></textarea>
  </div>
</div>
